/*
Cerulean: #086788;
BlueGreen: #07A0C3;
Jonquil: #F0C808;
PapayaWhip: #FFF1D0;
Rojo: #DD1C1A;
*/

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #086788;
}

.signUp header{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
}

.signUp p{
    font-size: 18px;
    line-height: 18px;
    padding: 5px 0px;
}
.signUp form{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.signUp form input{
    font-size: 16px;
    padding: 5px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.signUp form a{
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;;
}

.signUp form button{
    background-color: #DD1C1A;
    border-radius: 4px;
    border: none;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(23,20,20,0.74);
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    min-height: 36px;
    min-width: 120px;
}
.separator h2{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    line-height: 0.1em;
    margin: 10px 0 20px;
    border-bottom: 1px solid grey;
}

.separator span{
    background: white;
    padding: 0 10px;
}
.container{
    border: 5px solid black;
    border-radius: 12px;

    background-color: white;

    height: 640px;
    width: 460px;

    position: relative;
    padding: 20px 30px 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.loginSection{
    border: 2px solid red;
    position: absolute;
    left: 50%;
    height: 100%;
    width: calc(100% + 180px);
    transform: translateX(-50%);
    padding: 20px 140px;
    transition: all 0.6s ease;
}